.bg-jumbo {
  background-color: #083b4c;
}

.font-title {
  font-size: 3.5rem;
}

.square {
  height: 70px;
  width: 70px;
  text-align: center;
  padding: 10px 0px;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.fit {
  width: fit-content;
}

.standard-color{
    background-color: #1389b2;
}

.fizz-color{
    background-color: #0bd6a1;
}

.buzz-color{
    background-color: #ffd166;
}

.fizz-buzz-color{
    background-color: #f0466f;
}
